<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic PDFs
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <button ion-button full (click)="openLocalPdf()">Open Local PDF</button>
  <button ion-button full (click)="downloadAndOpenPdf()">Download Transfer open PDF</button>
  <button ion-button full (click)="downloadOpener()">Download Opener PDF</button>
  <button ion-button full (click)="downloadFileShowPDF()">Download Show</button>

  <pdf-viewer [src]="pdfFilePath" 
              [render-text]="true"
              [fit-to-page]="true"
              style="display: block;"></pdf-viewer>

</ion-content>